<%- include header.ejs %>

			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>General Secretaries</h2>
						</header>


						<!-- Image -->
							<section>
								<div class="box alt">
									<div class="row 50% uniform">
										<div class="3u  6u(xsmall)"><span class="image fit"><img src="images/satyam.jpg" alt="" /><center><b>Satyam Patidar<br />+91-8982925286</b></center></span></div>
										<div class="3u  6u$(xsmall)"><span class="image fit"><img src="images/ravi.jpg" alt="" /><center><b>RaviKant Amal<br />+91-9630165400</b></center></span></div>

									
									</div>
								</div>
							</section>

					</div>
				</div>
				<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>Core Members</h2>
						</header>


						<!-- Image -->
							<section>
								<div class="box alt">
									<div class="row 50% uniform">
										<div class="3u$ 6u$(xsmall)"><span class="image fit"><img src="images/shiv.jpg" alt="" /><center><b>Shevendra Tripathi<br />+91-8959281507</b></center></span></div>
										<div class="3u  6u$(xsmall)"><span class="image fit"><img src="images/shivam.jpg" alt="" /><center><b>Shivam Chhirolya<br />+91-8817558400</b></center></span></div>
										<div class="3u  6u(xsmall)"><span class="image fit"><img src="images/piyush.jpg" alt="" /><center><b>Piyush Raj<br />+91-9039965498</b></center></span></div>
										<div class="3u$ 6u$(xsmall)"><span class="image fit"><img src="images/nikita.jpg" alt="" /><center><b>Nikita Phillips<br />+91-9479585444</b></center></span></div>
										<div class="3u  6u(xsmall)"><span class="image fit"><img src="images/ipsa.jpg" alt="" /><center><b>Ipsha Sharma<br />+91-7697213932</b></center></span></div>
										<div class="3u  6u$(xsmall)"><span class="image fit"><img src="images/karishma.jpg" alt="" /><center><b>Karishma Atulkar<br />+91-7415253127</b></center></span></div>
										<div class="3u$ 6u(xsmall)"><span class="image fit"><img src="images/shantanu.jpg" alt="" /><center><b>Shantanu Mishra<br />+91-9425614187</b></center></span></div>
									
									</div>
								</div>
							</section>

					</div>
				</div>
				<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>Web Head</h2>
						</header>


						<!-- Image -->
							<section>
								<div class="box alt">
									<div class="row 50% uniform">
										<div class="3u$ 6u$(xsmall)"><span class="image fit"><img src="images/abhi.jpg" alt="" /><center><b>Abhishek Agrawal<br />+91-8823896439</b></center></span></div>
									
									</div>
								</div>
							</section>

					</div>
				</div>

			<!-- Footer -->
			<%- include footer.ejs %>
