<%- include header.ejs %>

			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>Photos</h2>
						</header>


						<!-- Image -->
							<section>
								<div class="box alt">
									<div class="row 50% uniform">
										<!--div class="12u$"><span class="image fit"><img src="images/pic07.jpg" alt="" /></span></div-->
										<div class="4u  6u(xsmall)"><span class="image fit"><img src="images/1.jpg" alt="" /></span></div>
										<div class="4u  6u$(xsmall)"><span class="image fit"><img src="images/2.jpg" alt="" /></span></div>
										<div class="4u$ 6u(xsmall)"><span class="image fit"><img src="images/3.jpg" alt="" /></span></div>
										<div class="4u  6u$(xsmall)"><span class="image fit"><img src="images/4.jpg" alt="" /></span></div>
										<div class="4u  6u(xsmall)"><span class="image fit"><img src="images/5.jpg" alt="" /></span></div>
										<div class="4u$ 6u$(xsmall)"><span class="image fit"><img src="images/6.jpg" alt="" /></span></div>
										<div class="4u  6u(xsmall)"><span class="image fit"><img src="images/7.jpg" alt="" /></span></div>
										<div class="4u  6u$(xsmall)"><span class="image fit"><img src="images/8.jpg" alt="" /></span></div>
										<div class="4u$ 6u(xsmall)"><span class="image fit"><img src="images/9.jpg" alt="" /></span></div>
										<div class="4u  6u$(xsmall)"><span class="image fit"><img src="images/10.jpg" alt="" /></span></div>
										<div class="4u  6u(xsmall)"><span class="image fit"><img src="images/11.jpg" alt="" /></span></div>
										<div class="4u$ 6u$(xsmall)"><span class="image fit"><img src="images/12.jpg" alt="" /></span></div>
										<div class="4u  6u(xsmall)"><span class="image fit"><img src="images/13.jpg" alt="" /></span></div>
										<div class="4u  6u$(xsmall)"><span class="image fit"><img src="images/21.jpg" alt="" /></span></div>
										<div class="4u$ 6u(xsmall)"><span class="image fit"><img src="images/24.jpg" alt="" /></span></div>
										<div class="4u  6u$(xsmall)"><span class="image fit"><img src="images/14.jpg" alt="" /></span></div>
										<div class="4u  6u(xsmall)"><span class="image fit"><img src="images/15.jpg" alt="" /></span></div>
										<div class="4u$ 6u$(xsmall)"><span class="image fit"><img src="images/16.jpg" alt="" /></span></div>
										<div class="4u  6u(xsmall)"><span class="image fit"><img src="images/17.jpg" alt="" /></span></div>
										<div class="4u  6u$(xsmall)"><span class="image fit"><img src="images/18.jpg" alt="" /></span></div>
										<div class="4u$ 6u(xsmall)"><span class="image fit"><img src="images/19.jpg" alt="" /></span></div>
										<div class="4u  6u$(xsmall)"><span class="image fit"><img src="images/20.jpg" alt="" /></span></div>
										<div class="4u  6u(xsmall)"><span class="image fit"><img src="images/40.jpg" alt="" /></span></div>
										<div class="4u$ 6u$(xsmall)"><span class="image fit"><img src="images/44.jpg" alt="" /></span></div>
										<div class="4u  6u(xsmall)"><span class="image fit"><img src="images/25.jpg" alt="" /></span></div>
										<div class="4u  6u$(xsmall)"><span class="image fit"><img src="images/26.jpg" alt="" /></span></div>
										<div class="4u$ 6u(xsmall)"><span class="image fit"><img src="images/27.jpg" alt="" /></span></div>
										<div class="4u  6u$(xsmall)"><span class="image fit"><img src="images/28.jpg" alt="" /></span></div>
										<div class="4u  6u(xsmall)"><span class="image fit"><img src="images/29.jpg" alt="" /></span></div>
										<div class="4u$ 6u$(xsmall)"><span class="image fit"><img src="images/30.jpg" alt="" /></span></div>
										<div class="4u  6u(xsmall)"><span class="image fit"><img src="images/31.jpg" alt="" /></span></div>
										<div class="4u  6u$(xsmall)"><span class="image fit"><img src="images/32.jpg" alt="" /></span></div>
										<div class="4u$ 6u(xsmall)"><span class="image fit"><img src="images/33.jpg" alt="" /></span></div>
										<div class="4u  6u$(xsmall)"><span class="image fit"><img src="images/34.jpg" alt="" /></span></div>
										<div class="4u  6u(xsmall)"><span class="image fit"><img src="images/37.jpg" alt="" /></span></div>
										<div class="4u$ 6u$(xsmall)"><span class="image fit"><img src="images/36.jpg" alt="" /></span></div>
										<div class="4u  6u(xsmall)"><span class="image fit"><img src="images/47.jpg" alt="" /></span></div>
										<div class="4u  6u$(xsmall)"><span class="image fit"><img src="images/38.jpg" alt="" /></span></div>
										<div class="4u$ 6u(xsmall)"><span class="image fit"><img src="images/46.jpg" alt="" /></span></div>
										<div class="4u  6u$(xsmall)"><span class="image fit"><img src="images/49.jpg" alt="" /></span></div>
										<div class="4u  6u(xsmall)"><span class="image fit"><img src="images/41.jpg" alt="" /></span></div>
										<div class="4u$ 6u$(xsmall)"><span class="image fit"><img src="images/23.jpg" alt="" /></span></div>
										<div class="4u  6u(xsmall)"><span class="image fit"><img src="images/43.jpg" alt="" /></span></div>
										<div class="4u  6u$(xsmall)"><span class="image fit"><img src="images/42.jpg" alt="" /></span></div>
										<div class="4u$ 6u(xsmall)"><span class="image fit"><img src="images/22.jpg" alt="" /></span></div>
										<div class="4u  6u$(xsmall)"><span class="image fit"><img src="images/50.jpg" alt="" /></span></div>
										<div class="4u  6u(xsmall)"><span class="image fit"><img src="images/48.jpg" alt="" /></span></div>
									
									</div>
								</div>
							</section>

					</div>
				</div>

			<!-- Footer -->
			<%- include footer.ejs %>
