<%- include header.ejs %>

			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<style>
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

div.panel {
    padding: 0 18px;
    background-color: #eee;
    max-height: 0;
    text-align: left;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    color:black !important;
}
.panel > p {
	color: black;
}
</style>
<body>

<h2>FAQs</h2>

<button class="accordion">Q1. What are the transportation facilities?</button>
<div class="panel">
  <p>We will be providing you the air conditioned cabs and buses and will pick you from the railway station, bus stand or airport to the venue destined.</p>
</div>

<button class="accordion">Q2. Will you provide AC transportation?</button>
<div class="panel">
  <p>Yes, we have the facilities of air conditioned cabs and nuses.</p>
</div>

<button class="accordion">Q3. How can I register?</button>
<div class="panel">
  <p></p>
</div>

<button class="accordion">Q4. What are the payment methods for registration?</button>
<div class="panel">
  <p>We have the bank account for Milan and paytm too.</p>
</div>

<button class="accordion">Q5. What if I don’t have online banking?</button>
<div class="panel">
  <p>We have our bank account for Milan. Details of the account are given below:-</p>
</div>

<button class="accordion">Q6. Is there any process for any on desk registration?</button>
<div class="panel">
  <p>Yes. Charges for such registration will be Rs.8000/- only.</p>
</div>

<button class="accordion">Q7. Is the amount refundable?</button>
<div class="panel">
  <p>Yes. We will be refunding 30% of the registration fees.</p>
</div>

<button class="accordion">Q8. What are the charges if we come along with the family?</button>
<div class="panel">
  <p>The charges would be Rs.12,000/- only, if came along with the family.</p>
</div>

<button class="accordion">Q9. How many family members are allowed?</button>
<div class="panel">
  <p>Atmost three adults are allowed.</p>
</div>

<button class="accordion">Q10. What kind of accommodation is allowed?</button>
<div class="panel">
  <p>And. No. we are not providing any such facilities but we’ll be providing you the list of

hotels where you can stay and we’ll be providing special discounts.

There will be transportation facilities provided by us for there too.</p>
</div>

<button class="accordion">Q11. Name the listed hotels.</button>
<div class="panel">
  <p></p>
</div>

<button class="accordion">Q12. How do I know that funds are used appropriately and not wasted on overhead

costs?</button>
<div class="panel">
  <p></p>
</div>

<button class="accordion">Q13. Is liquor provided?</button>
<div class="panel">
  <p>No, there would not be any facilities for this.</p>
</div>

<button class="accordion">Q14.Will you provide non-veg food?</button>
<div class="panel">
  <p>Yes. At the dinner we will be giving you the non-veg food as well.</p>
</div>

<button class="accordion">Q15. How will you deal with the heat?</button>
<div class="panel">
  <p>Yes. We’ll have the air conditioners to deal with it.</p>
</div>


<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  }
}
</script>
						</header>
					</div>
				</div>

			<!-- Footer -->
			<%- include footer.ejs %>
