<!DOCTYPE HTML>
<html>
	<head>
		<title>Milan '17 Alumni Meet | Jabalpur Engineering College</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<!-- <link rel="stylesheet" type="text/css" href="assets/css/materialize.css"> -->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" style="position: fixed;">
					<h1 id="logo"><a href="/">Milan '17</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="/"><b>Home</b></a></li>
							<li>
								<a href="/aboutus"><b>About Us</b></a>
							</li>
							<li>
							     <a href="/"><b>Events</b></a>
							     <ul>
									<li><a href="/talk">Talk</a></li>
									<li><a href="/schedule">Schedule</a></li>
									<li><a class="scrolly" href="/#seven">Event</a></li>
									
								</ul>
							
							</li>
							<li>
								<a href="/photo"><b>Photo Gallery</b></a>
								
							</li>
							<li><a href="team"><b>Our Team</b></a></li>
							<li><a href="/faq"><b>FAQs</b></a></li>
							<li><a href="/contact-us"><b>Contact Us</b></a></li>
							<li><a class="button special small" href="http://tinyurl.com/gecmilan" target="_blank"><b>Register</b></a></li> 
						</ul>
					</nav>
				</header>
