<%- include header.ejs %>
			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h3>“An event where the great unite.<br />The young, the old, the dreamers untold.<br /> Like flowers in a garden, by the world adore.”</h3>
							
						</header>
						<span class="image"><img src="images/milan.jpg" alt="" /></span>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

			<!-- One -->
				<!--section id="one" class="spotlight style1 bottom">
					<span class="image fit main"><img src="images/pic02.jpg" alt="" /></span-->
					<div class="content">
					    <h5>We all have a thread that binds us when it comes to why we came to JEC and we share a common ground for the way we wish to live our lives today. We all are connected because of our quest to gain the impeccable knowledge. The upcoming re-union, Milan may serve to remind us to reflect on this, to take stock of our time spent at the college, and how it might have continued to shape our lives. <br />
							            Celebrating the 70 years of JEC, we are organising an alumni meet-“MILAN” whereby you will be able to reminisce, to network, to get updated, to get rejuvenated, reconnect with their alma mater.<br />We live our day to day lives oblivious to the beauty that

surrounds us and by the time we do realise what exactly it is

that we have been blessed with, its generally too late.

However when the good old days call yet again; nostalgia

surrounds us as we walk the hallowed boulevards of our

youth.

The Alumni meet is going to organise from 7 th – 9 th july, 2017 at our Institute

campus. This year JEC is celebrating its Platinum Jubilee .The Meet is going

to be a major event anticipated by both the alumni and the students. As the

years pass by and winds of change keep blowing, the Alumni Meet too shall

keep evolving with the pace of time, hoping to bring to the alumni an

experience that they may cherish all their lives.</h5>
						<div class="container">
							<div class="row">
								<div class="4u 12u$(medium)">
									<header>
										<!--h2>Odio faucibus ipsum integer consequat</h2-->
										<!--p>We all have a thread that binds us when it comes to why we came to JEC and we share a common ground for the way we wish to live our lives today. We all are connected because of our quest to gain the impeccable knowledge. The upcoming re-union, Milan may serve to remind us to reflect on this, to take stock of our time spent at the college, and how it might have continued to shape our lives. <br />
							            Celebrating the 70 years of JEC, we are organising an alumni meet-“MILAN” whereby you will be able to reminisce, to network, to get updated, to get rejuvenated, reconnect with their alma mater.</p-->
									</header>
								</div>
								<!--div class="4u 12u$(medium)">
									<p>Feugiat accumsan lorem eu ac lorem amet sed accumsan donec.
									Blandit orci porttitor semper. Arcu phasellus tortor enim mi
									nisi praesent dolor adipiscing. Integer mi sed nascetur cep aliquet
									augue varius tempus lobortis porttitor accumsan consequat
									adipiscing lorem dolor.</p>
								</div>
								<div class="4u$ 12u$(medium)">
									<p>Morbi enim nascetur et placerat lorem sed iaculis neque ante
									adipiscing adipiscing metus massa. Blandit orci porttitor semper.
									Arcu phasellus tortor enim mi mi nisi praesent adipiscing. Integer
									mi sed nascetur cep aliquet augue varius tempus. Feugiat lorem
									ipsum dolor nullam.</p>
								</div-->
							</div>
						</div>
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>
				</section>

			<!-- Two -->
				<section id="two" class="spotlight style2 right">
					<span class="image fit main"><img src="images/meet.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Grand Reunion</h2>
							<p>MILAN has organised a reunion down the memory lane that gave our alumni, an opportunity to see old friends again and catch up with them.
							</p>
						</header>
						<p>To relive all those good old days. Some things changed, some remained same, the stories that were almost forgotten and the days that faded away in the course of time.</p>
						<ul class="actions">
							<li><a href="#" class="button">Learn More</a></li>
						</ul>
					</div>
					<a href="#three" class="goto-next scrolly">Next</a>
				</section>

			<!-- Three -->
				<section id="three" class="spotlight style3 left">
					<span class="image fit main bottom"><img src="images/steb.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Visiting</h2>
							<p>MILAN has organised a fun and fascinating trip to the Bhedaghat- the charm of Jabalpur for sightseeing, to have their leisure time and a grand lunch with all the alumni. </p>
						</header>
						<!--p>Feugiat accumsan lorem eu ac lorem amet ac arcu phasellus tortor enim mi mi nisi praesent adipiscing. Integer mi sed nascetur cep aliquet augue varius tempus lobortis porttitor lorem et accumsan consequat adipiscing lorem.</p-->
						<ul class="actions">
							<li><a href="#" class="button">Learn More</a></li>
						</ul>
					</div>
					<a href="#four" class="goto-next scrolly">Next</a>
				</section>

				<!-- Five -->
				<section id="two" class="spotlight style2 right">
					<span class="image fit main"><img src="images/talk.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Alma Talks</h2>
							<p>All the big names produced from JEC are invited over here to share their experiences, to guide and to motivate the students to become successful. Alumni will share their old memories with us and experiences.
							</p>
						</header>
						<ul class="actions">
							<li><a href="#" class="button">Learn More</a></li>
						</ul>
					</div>
					<a href="#three" class="goto-next scrolly">Next</a>
				</section>

				<!-- six -->
				<section id="three" class="spotlight style3 left">
					<span class="image fit main bottom"><img src="images/dept.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Department Visit</h2>
							<p>Sweet and salty memories of slogging in labs, fighting sleeps and attempting to learn is something that all our departments gave us. It is a visit back to these blended feelings of hard work, procrastination, learning and excitement. </p>
						</header>
						<!--p>Feugiat accumsan lorem eu ac lorem amet ac arcu phasellus tortor enim mi mi nisi praesent adipiscing. Integer mi sed nascetur cep aliquet augue varius tempus lobortis porttitor lorem et accumsan consequat adipiscing lorem.</p-->
						<ul class="actions">
							<li><a href="#" class="button">Learn More</a></li>
						</ul>
					</div>
					<a href="#four" class="goto-next scrolly">Next</a>
				</section>

				<!-- seven-->
				<section id="two" class="spotlight style2 right">
					<span class="image fit main"><img src="images/relax.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Relaxation</h2>
							<p>Music has been one thing common in our lives so we have organised the DJ Night and the concert. The alumni as well as the students will live fully in this euphoria.
							</p>
						</header>
						<ul class="actions">
							<li><a href="#" class="button">Learn More</a></li>
						</ul>
					</div>
					<a href="#three" class="goto-next scrolly">Next</a>
				</section>

			<!-- Four -->
				<section id="four" class="wrapper style1 special fade-up">
					<div class="container">
						<header class="major">
							<h2>Events</h2>
							<p>Our efforts to make this journey in JEC memorable.</p>
						</header>
						<div class="box alt">
							<div class="row uniform">
								<section class="4u 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-area-chart"></span>
									<h3>Statue inauguration</h3>
									<p>Inauguration of the statue of the first principle of JEC Prof.S P Chakravarty enlightens the glory of our college. It will took place on the first day of Milan on 7 th of july</p>
								</section>
								<section class="4u 6u$(medium) 12u$(xsmall)">
									<span class="icon alt major fa-comment"></span>
									<h3>Arena</h3>
									<p>The Arena unveiled itself in all its glory on Day 2 of the Alumni Meet. What took months of planning and diligent execution was finally ready to welcome the alumni. For the first time, Chai-pe- Charcha is going to be introduced wherein the alumni can share their old memories with us. Without any doubt, Arena would be the charm of the Alumni Meet.</p>
								</section>
								<section class="4u$ 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-flask"></span>
									<h3>Games</h3>
									<p>The fun of games will add up the excitement in the alumni and there would be a wonderful time during playing together like before . It will indeed take you back in time to the children hidden somewhere in you.</p>
								</section>
								<section class="4u 6u$(medium) 12u$(xsmall)">
									<span class="icon alt major fa-paper-plane"></span>
									<h3>Student Alumni Meet</h3>
									<p>Student Alumni Meets bring together the students and the alumni under one roof and encourage interactive dialogue. They play a very important role in strengthening the bond with alumni. The aim of this meet is to connect the alumni and the students at a very personal level and ensure long term interaction and strong bonding thus proving to be extremely beneficial to both the students as well as the alumni.</p>
								</section>
								<section class="4u 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-file"></span>
									<h3>Guest Lectures</h3>
									<p>Guest Lectures provide a medium for the alumni to give back to the institute by imparting their experience to the students and preparing them for the real world. The topics are spread all over - from personality development to department related technical lectures. The Guest Lectures pave a way for interaction between the alumni and the current students.</p>
								</section>
								<section class="4u$ 6u$(medium) 12u$(xsmall)">
									<span class="icon alt major fa-lock"></span>
									<h3>Alvida - The Farewell Dinner</h3>
									<p>Alvida - the farewell dinner will be held for the passing out batch to get together and share their memorable stories of the moments they spent in the institute. Alvida is not a goodbye to the Alumni as the name indicates. It is JEC wishing its Alumni good luck for the new roads.</p>
								</section>
							</div>
						</div>
						<!--footer class="major">
							<ul class="actions">
								<li><a href="#" class="button">Magna sed feugiat</a></li>
							</ul>
						</footer-->
					</div>
				</section>

			<!-- Five -->
				<!--section id="five" class="wrapper style2 special fade">
					<div class="container">
						<header>
							<h2>Magna faucibus lorem diam</h2>
							<p>Ante metus praesent faucibus ante integer id accumsan eleifend</p>
						</header>
						<form method="post" action="#" class="container 50%">
							<div class="row uniform 50%">
								<div class="8u 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
								<div class="4u$ 12u$(xsmall)"><input type="submit" value="Get Started" class="fit special" /></div>
							</div>
						</form>
					</div>
				</section-->

			<!-- Footer -->
<%- include footer.ejs %>
