<%- include header.ejs %>

			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>Talks</h2>
						</header>


						<!-- Image -->
							<section>
								<div class="box alt">
									<div class="row 50% uniform">
										<div class="4u  6u(xsmall)"><span class="image fit"><img src="images/Cecil_ne2.jpg" alt="" /></span></div>
									</div>
								</div>
							</section>

					</div>
				</div>

			<!-- Footer -->
			<%- include footer.ejs %>
