<%- include header.ejs %>


			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
						<img class="image fit" src="images/about.jpg" alt="" />
						<span>We all have a thread that binds us when it comes to why we came to JEC and we share a common ground for the way we wish to live our lives today. We all are connected because of our quest to gain the impeccable knowledge. The upcoming re-union, Milan may serve to remind us to reflect on this, to take stock of our time spent at the college, and how it might have continued to shape our lives. <br />Celebrating the 70 years of JEC, we are organising an alumni meet-“MILAN” whereby you will be able to reminisce, to network, to get updated, to get rejuvenated, reconnect with their alma mater.<br />We live our day to day lives oblivious to the beauty that surrounds us and by the time we do realise what exactly it is that we have been blessed with, its generally too late. However when the good old days call yet again; nostalgia surrounds us as we walk the hallowed boulevards of our youth.<br />The Alumni meet is going to organise from 7 th – 9 th july, 2017 at our Institute campus. This year JEC is celebrating its Platinum Jubilee .The Meet is going to be a major event anticipated by both the alumni and the students. As the years pass by and winds of change keep blowing, the Alumni Meet too shall keep evolving with the pace of time, hoping to bring to the alumni an experience that they may cherish all their lives.</span>
						<h2>Vision</h2><span>Milan strives to bridge the gap between JEC and its esteemed alumni who are excelling different fields on a global platform, to make a common link between the JEC and its great alumni so that students may connect with the Alumni of JEC. <br />To celebrate the Platinum jubilee of JEC and set the benchmark to transform it into premier institute.</span>
						<h2>Mission</h2>
						<span>-To contribute to the development of JEC for state-of-the art facilities.
</span><br/><span>-Making efforts to convert JEC into a University.</span><br/><span>
-To make JEC, a research centre.</span><br/>
<span>-Swarm intelligence computing method labs.<br/></span>
						</header>
					</div>
				</div>

			<!-- Footer -->
	<%- include footer.ejs %>
