<%- include header.ejs %>


			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
						<img class="image fit" src="images/about.jpg" alt="" />
						<span>We all have a thread that binds us when it comes to why we came to JEC. We share a common ground for the way we wish to live our lives today and we all are connected because of our quest to gain the impeccable knowledge. We live our day to day lives oblivious to the beauty that surrounds us and by the time we do realise what exactly it is that we have been blessed with, its generally too late. However when the good old days call yet again; nostalgia surrounds us as we walk the hallowed boulevards of our youth. The upcoming re-union, may serve to remind us to reflect upon this valuable time spent at the college remembering how it might have continued to shape our lives.Celebrating the 70 year jubilee of JEC, this alumni meet-“MILAN” will make you reminisce, network, rejuvenate and mostly reconnect with your alma mater. Being organised from 7th to 9th July, 2017 at our Institute campus, the meet will anticipate intellectual interaction between both the alumni and the students bringing the best out of it. As the years pass by and winds of change keep blowing, the Alumni Meet too shall keep evolving with the pace of time, hoping to bring the alumni an experience that they may cherish all their lives.</span>
						<h2>Vision</h2><span>Milan strives to bridge the gap between JEC and its esteemed alumni who are excelling diversified fields on a global platform and also make a common link between JEC and its great alumni. This may help students to coherently connect with the Alumni of JEC and set the benchmark to transform it into a premier institute.</span>
						<h2>Mission</h2>
						<span>MILAN aspires to help convert JEC into a deemed university and an impactful research centre. With hopes to swarm ‘intelligence computing method’ labs, it also aims to contribute to the development of JEC for state-of-the art facilities.</span>
						</header>
					</div>
				</div>

			<!-- Footer -->
	<%- include footer.ejs %>
